{% extends 'base.html' %}

{% block content %}  
  <h2 class="title">Electricity Bill</h2>
  <div>
      <div class="row row-space">
          <div class="col-2">
              <div class="input-group">
                  <label class="label">{{pre}}</label>
                  <label class="label">{{curr}}</label>
                  <label class="label">{{Units}}</label>
                  <label class="label">{{bill}}</label>
              </div>
          </div>
      </div>
  </div>
{% endblock %}
