{% extends 'base.html' %}

{% block content %}  
  <h2 class="title"><b>Pankhuri Tayal</b><br>
    Computer Science Engineering,
    PES University
    Bangalore, India
    pankhuritayal963@gmail.com
    </h2>
  <h2 class="title"><b>Pranamya P Bhat</b><br>
    Computer Science Engineering,
    PES University
    Bangalore, India
    pranamyabhat27@gmail.com
    </h2>
  <h2 class="title"><b>Pratheeksha P</b><br>
    Computer Science Engineering,
    PES University
    Bangalore, India
    pratheeksha930@gmail.com
    </h2>
{% endblock %}